<div>
    <app-navbar></app-navbar>
    
    <router-outlet></router-outlet>
    <app-footer></app-footer>
    <app-cursor-effect></app-cursor-effect>
    <!-- Scroll to top button -->
 <!-- Circular progress indicator -->
<div class="scroll-progress" (click)="scrollToTop()">
    <div class="progress-circle" [style.background]="circleProgressColor" [style.transform]="circleProgress"></div>
    <div class="progress-label">
      <span>{{ scrollPercentage }}%</span>
    </div>
  </div>
  
</div>

