/* Hide default system cursor */
body {
    cursor: none;
  }
  
  /* Style for the custom cursor */
  .custom-cursor {
    position: fixed;  /* Use fixed so it stays in the same place even when scrolling */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:orangered; /* Customize the color */
    pointer-events: none; /* Ensure it doesn't interact with other elements */
    transform: translate(-50%, -50%); /* Center the cursor on the mouse pointer */
    transition: all 0.05s ease-in; /* Smooth movement */
    box-shadow: 0 0 25px rgba(66, 210, 37, 1), 0 0 25px rgba(26, 201, 26, 1);
    z-index: 9999; /* Ensure it's always on top */
  }
  